@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:var(--input-text-style-font-weight),400,700");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "Degular-SemiBold";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/63b3af4542fa7092f6908c9d/fonts/degular-semibold.otf")
    format("opentype");
}

@font-face {
  font-family: "Compacta Com-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/61dd7503a5b4086567ab74da/fonts/compactastd.otf")
    format("opentype");
}

@font-face {
  font-family: "Compacta Com-Bold";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/61dd7503a5b4086567ab74da/fonts/compactastd-bold.otf")
    format("opentype");
}

@font-face {
  font-family: "Degular-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/5e7abf65eb876cc1084e5bac/.44510.otf")
    format("opentype");
}
